@mixin screen-lg {
	@media (max-width: $media-lg) {
		@content;
	}
}

@mixin screen-md {
	@media (max-width: $media-md) {
		@content;
	}
}

@mixin screen-sm {
	@media (max-width: $media-sm) {
		@content;
	}
}

@mixin screen-xs {
	@media (max-width: $media-xs) {
		@content;
	}
}

html { scroll-behavior: smooth; }

.nav-padding {
  padding: 20px 30px;

  @include screen-sm {
    padding: 20px 15px;
  }
}

.section-medium {
  padding-top: 100px;
  padding-bottom: 100px;

  @include screen-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.bg-majorelle-blue {
  background-color: $majorelle-blue;
}

.bg-gradient {
  background: linear-gradient(97.55deg, #755EFF 0%, #5936D3 113.96%);
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
