@mixin screen-lg {
	@media (max-width: $media-lg) {
		@content;
	}
}

@mixin screen-md {
	@media (max-width: $media-md) {
		@content;
	}
}

@mixin screen-sm {
	@media (max-width: $media-sm) {
		@content;
	}
}

@mixin screen-xs {
	@media (max-width: $media-xs) {
		@content;
	}
}

html { scroll-behavior: smooth; }

.nav-padding {
  padding: 20px 30px;

  @include screen-sm {
    padding: 20px 15px;
  }
}

.section-medium {
  padding-top: 100px;
  padding-bottom: 100px;

  @include screen-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
